.options{
    .row{
        .col-md-4{
            .div1{
                padding-bottom: 10px;
                i{
                    font-size: 80px;
                }
                
            }
            .div2{
                padding-top: 10px;
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}